.wrapper {
  background: #ffef62;
  min-height: 600px;

  .loadingWrapper {
    padding-top: 5rem;
    padding-bottom: 10rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .productsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    row-gap: 10rem;
    padding: 5rem 0;

    @media (max-width: 992px) {
      grid-template-columns: repeat(1, 1fr);
      padding: 2rem;
    }
  }
}
