@import "../../../assets/scss/helpers/grid.scss";
@import "../../../assets/scss/helpers/helpers.scss";

$fontFamily: "LEMON MILK";
$backColor: #4e4aff;

.button {
  position: relative;
  background-color: $backColor;
  border-radius: 15px;
  border: none;
  outline: none;
  color: white;
  padding: 8px 25px;

  @include transition();

  // @include sm-width {
  //   width: 180px;
  //   min-width: 180px;
  // }

  img {
    width: 100%;
  }

  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  font-family: $fontFamily;
  line-height: 120%;
  text-align: center;
  z-index: 10;
  white-space: nowrap;

  &[disabled] {
    cursor: not-allowed;
    div {
      opacity: 0.6;
    }
  }

  &:hover:not([disabled]) {
    @include scale();
    @include transition();
  }
}
