@import "../../../assets/scss/helpers/grid.scss";
@import "../../../assets/scss/helpers/helpers.scss";

$fontFamily: 'LEMON MILK';
$backColor: #4E4AFF;

.button {
  position: relative;
  background-color: $backColor;
  width: 150px;
  min-width: 150px;
  border: none;
  outline: none;
  color: white;
  padding: 0.8rem;

  @include transition();

  @include sm-width {
    width: 180px;
    min-width: 180px;
  }

  img {
    width: 100%;
  }

  div {
    text-transform: uppercase;
    // font-style: italic;
    // font-size: 1.5rem;
    font-size: 20px;
    font-weight: 600;
    font-family: $fontFamily;
    line-height: 120%;
    text-align: center;
    z-index: 10;
    white-space: nowrap;
  }

  &[disabled] {
    cursor: not-allowed;
    div {
      opacity: 0.6;
    }
  }

  &:hover:not([disabled]) {
    @include scale();
    @include transition();
  }
}
