@import "../../assets/scss/helpers/helpers.scss";

$bgColor: #4E4AFF;
$fontColor: #FFEF62;

.wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 300;
}

.modal {
  background-color: $bgColor;
  padding: 48px;
  position: relative;
  max-width: 840px;
  margin: 200px auto;
  word-break: break-word;
  background-size: 100%;

  & p {
    font-family: 'Newyork';
  }
  & span,
  & button,
  & a {
    color: black !important;
    font-family: 'Newyork';
  }

  & button {
    background: white;

    &:not([disabled], .closeIcon):hover {
      background-color: white !important;
      opacity: 0.8;
    }
  }

  .inputWrapper {
    background: white !important;
  }
}

.closeIcon {
  @include reset-button();
  @include active();
  position: absolute;
  right: 32px;
  top: 32px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: $fontColor !important;
}

.title {
  color: $fontColor;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 44px;
  text-align: center;
}

.modalBodyText {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;

  &:not(:last-child) {
    margin-bottom: 18px;
  }
}
