@import "../../assets/scss/helpers/grid.scss";

$titleColor: #4E4AFF;
$titleFontFamily: 'NewYork';

$borderColor: #4E4AFF;

.imageCardWrapper {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;

  .collectionName {
    color: $titleColor;
    position: relative;
    font-family: $titleFontFamily;
    font-style: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 800;
    font-size: 30px;
    line-height: 150%;
    margin-bottom: 1rem;
  }

  .designerLink {
    .designerWrapper .photo,
    .designerWrapper .name {
      transition: all 0.4s ease;
    }

    &:hover {
      .designerWrapper .photo,
      .designerWrapper .name {
        transform: scale(1.05);
        transition: all 0.4s ease;
      }
    }
  }

  .designerWrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .photo {
      width: 50px;
      border-radius: 25px;
      margin-right: 1rem;
    }

    .name {
      font-family: Bebas Neue;
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 27px;
      /* identical to box height */

      color: black;
    }
  }

  .bodyWrapper {
    position: relative;
    background-color: $borderColor;
    // padding: 1rem;
    border-radius: 2rem;
    height: 300px;
    // background: black;
    // box-shadow: inset 0px 0px 30px 20px rgba(197, 32, 129, 0.5),
    // 0px 0px 30px 20px rgba(197, 32, 129, 0.5);

    &.blue {
      z-index: 100;
      border: 3px solid $borderColor;
    }

    &.none {
      border: none;
      background: transparent;
    }

    .rarity {
      position: absolute;
      top: 0px;
      z-index: 2;
      right: -4vw;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 800;
      font-size: 2vw;
      line-height: 2.5vw;
      color: black;
      font-family: Bebas Neue;
      background: #e6bf00;
      border-left: 10px solid black;
      padding: 5px 10px;

      @media (max-width: 576px) {
        font-size: 20px;
        line-height: 25px;
        right: -30px;
      }
    }

    .video {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
    }

    .image {
      width: 100%;
      height: 100%;
    }

    .reversePrice {
      position: absolute;
      top: 2rem;
      right: 2rem;
      background-image: url("/images/metaverse/gray_button3.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      padding: 1rem 2rem;
      font-family: Gilroy;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 27px;
      display: flex;
      align-items: center;
      text-align: center;

      color: #ffffff;
      display: flex;
      align-items: center;

      span {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 27px;
        display: flex;
        align-items: center;
        text-align: center;
        margin-right: 4px;

        color: #ffffff;
      }
    }

    .zoomButton {
      position: absolute;
      right: 15px;
      bottom: 15px;
      border: none;
      padding: 0;

      &.keepRatioButton {
        bottom: -50px;
      }

      transition: 0.3s;
      &:hover {
        background: transparent;
        transform: scale(1.1);
      }
    }

    .muteButton {
      position: absolute;
      left: 40px;
      bottom: 37px;
      width: 25px;
      height: 25px;
      border: none;
      padding: 0;

      &.keepRatioButton {
        bottom: -50px;
      }

      img {
        width: 100%;
      }

      &:hover {
        background: transparent;
        transform: scale(1.1);
      }
    }

    .mediaWrapper {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 2rem;
      overflow: hidden;
      // transition: all 0.3s;
      video,
      img {
        object-fit: cover;
      }

      &.keepRatio {
        video,
        img {
          object-fit: contain;
        } 
      }
    }

    .offerCount {
      position: absolute;
      top: 2rem;
      right: 2rem;
      background-image: url("/images/metaverse/gray_button3.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      padding: 1rem 2rem;
      font-family: Bebas Neue;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 27px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      flex-direction: row;

      color: #e6bf00;
      display: flex;
      align-items: center;

      span {
        font-family: Bebas Neue;
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 27px;
        display: flex;
        align-items: center;
        text-align: center;
        margin-right: 4px;

        color: #e6bf00;
      }

      p {
        font-family: Bebas Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 12px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;

        color: #e6bf00;
      }
    }

    .zoomWrapper {
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
      z-index: 1000;
      position: fixed;
      background: rgba(0, 0, 0, 0.9);
      transition: all 0.3s;

      video,
      img {
        margin-top: 100px;
        height: 80vh;
        object-fit: contain;
        transition: all 0.3s;
      }

      .muteButton {
        left: 150px;
        top: calc(80vh + 10px);
      }
    }
  }

  .buyNow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }

  @include sm-width {
    width: 400px;

    .bodyWrapper {
      height: 400px !important;
    }
  }

  @include md-width {
    width: 500px;

    .bodyWrapper {
      height: 500px !important;
    }

    .collectionName {
      font-size: 30px;
    }

    .designerWrapper {
      .name {
        font-size: 22px;
      }
    }
  }

  @include lg-width {
    width: 350px;

    .bodyWrapper {
      height: 350px !important;
    }
  }

  @include xl-width {
    width: 400px;

    .bodyWrapper {
      height: 400px !important;
    }
  }

  @include xxl-width {
    width: 500px;

    .bodyWrapper {
      height: 500px !important;
    }
  }
}
