.textCenter {
  text-align: center;
}

.contentWraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 3rem;

  color: #ffffff;
}

.button {
  background: #111111;
  border: 0.7px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  color: #ffffff;
  width: 70%;
  padding: 1rem;
}
