.textCenter {
  text-align: center;
}

.tableWrapper {
  max-height: 300px;
  overflow: auto;
}

.historyTable {
  width: 100%;
  text-align: center;

  th,
  tr,
  td {
    padding: 0.5rem;
    text-align: center;
    font-family: 'Lemon Milk';
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }

  thead {
    th,
    tr,
    td {
      font-family: 'NewYork';
    }
  }
}
